  /* Splide */
.splide__track {
  overflow: visible;
}  


/* Splide half opacity for disable arrow buttons */
.splide button:disabled {
	opacity: 0.5;
}
  
  /* Normal bullet point list - Bullet colour */

li.dashed:before {
    content: "- ";
    font-size: 24px;
    font-weight: 800;
    color:#0E2B2E;
    margin-right: 16px;
}
 .splide__pagination li:before {
    content: "" !important;
    font-size: 24px;
    font-weight: 800;
    color:#0E2B2E;
   padding: 0 !important;
   background: transparent !important;
    margin-right: 0px;
}
  .splide__pagination li {
   padding: 0 !important;
   background: transparent !important;
}

li.list-item-dark-text._24px.round-bullet:before {
      content: "• ";
  
  }
  
  li.list-item-dark-text.round-bullet:before {
      content: "• ";
  
  }

li.list-item-light-text.light-bullet:before {
    content: "- ";
    color: #ffffff;
}

/* Text underline color */
.button-/-secondary {
  text-decoration-color: #000;
  text-underline-position: under;
  
}